*{
    margin: 0;
    padding: 0;
}
.categories{
    height: 344px;
    width: 217px;
    position: fixed;
    top: 182px;
    left: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;;
}
.womanFashion,.menFashion{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.womanCategories, .menCategories{
    background-color: transparent;
    border: none;
    transform: rotate(270deg);
    
}
.womanCategories:hover, .menCategories:hover{
    cursor: pointer;
}