.saleAndTimeAndSlideButtons{
    display: flex;
    justify-content: space-between;
}
.slideButtons{
    height: 46px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.slideButtons > button {
    background-color: #d9d9d9;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    margin-top: 57px;
}
.saleAndTime{
    height: 103px;
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.redBox{
    height: 40px;
    width: 20px;
    background-color: #db4444;
    border-radius: 4px;
}
.todayText{
    width: 100px;
    height: 40px;
    display: flex;
    color: #db4444;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.saleName{
    width: 211px;
    height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.saleName > p{
    font-size: 38px;
    font-weight: 600;
}
.saleTime{
    width: 302px;
    height: 50px;
    margin-top: 53px;
}