*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    background-color: black;
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
}
.container{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    margin-left: 35%;
    width: 859px;
}
.left-container{
    display: flex;
}
.sale-text{
    font-weight: 100;
    font-size: 14px;
}
.shopNow-link{
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    color: white;
}
.languageSelect{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 14px;
}
.options{
    background: black;
    border: none;
    color: white;
}