.categoriesAndShowCase{
    height: 384px;
    width: 100%;
    display: flex;
    border-top: 1px solid #d9d9d9;
    margin-top: 16px;
}
.vertical{
    padding-top: 40px;
    padding-left: 135px;
    border-right: 1px solid #d9d9d9;
}
.horizontal{
    padding-top: 40px;
    margin-left: 110px;
}