.accountBox{
    width: 123px;
    height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.accountBoxBottom{
    width: 100%;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}