.downloadAppBox{
    height: 210px;
    width: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.downloadAppBoxBottom{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
.downloadAppBoxTopper{
    height: 162px;
    width: 198px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.downloadAppBoxMain{
    height: 110px;
    width: 198px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    color: #afafaf;
    font-size: 12px;
    overflow: hidden;
}
.downloadAppBoxQRCodeAndLinks{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.downloadAppBoxQRCode{
    height: 80px;
    width: 80px;
}
.downloadAppBoxLinks{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;
}
.downloadAppBoxLinks img{
    height: 32px;
    cursor: pointer;
}