.exclusiveBox{
    width: 217px;
    height: 188px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.exclusiveBoxTopper{
    width: 206px;
    height: 124px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.exclusiveBoxBottom{
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px white solid;
    box-sizing: border-box;
    border-radius: 4px;
}
.emailInputBox{
    background-color: transparent;
    border: none;
    height: 100%;
    padding-left: 10px;
}
.emailSubmitBtn{
    color:white;
    padding-right: 10px;
}
.exclusiveBoxTopperLower{
    font-size: 14px;
}
.exclusiveBoxTopperUpper{
    height: 76px;
    width: 118px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.exclusiveText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}