.footer{
    background-color: black;
    height: 440px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom{
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #363636;
    top: 376px;
    font-size: 24px;
    gap: 10px;
    border: 1px solid #363636;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding-top: 10px;
}
.ccText{
    font-size: 14px;
}
.topper{
    width: 1170px;
    height: 236px;
    position: absolute;
    top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
