.supportBox{
    width: 175px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.supportBoxBottom{
    width: 100%;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}