.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 675px;
    height: 24px;
    display: flex;
}
.nav-links-left{
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.exclusive-btn{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 26px;
}
button {
    background: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: black;
    font-size: 18px;
}
.nav-links-right{
    display: flex;
    gap: 50px;
    margin-left: auto;
    margin-right: 20px;
    align-items: center;
}