.user-actions-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    height: 100%;
}
.search-bar{
    display: flex;
    height: 100%;
    align-items: center;
    background: #f5f5f5;
}
.search-input-btn{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 14px;
    padding-right: 14px;
    background: #f5f5f5;
    font-size: 12px;
    height: 100%;
    border: none;
}
.user-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}